// vim: filetype=dts:ts=4:sw=4:et

#define USHFT &macro_release &kp LSHFT &kp RSHFT &macro_tap
#define CUSTOM_MACRO(NAME, BINDING) \
m_##NAME: m_##NAME { \
    compatible = "zmk,behavior-macro"; \
    label = "m_##NAME"; \
    #binding-cells = <0>; \
    wait-ms = <10>; \
    tap-ms = <10>; \
    bindings = <BINDING>; \
};

macros {
    // Pronoun combos
    CUSTOM_MACRO(im, &kp LS(I)  USHFT  &kp APOS  &kp M  &kp SPACE)
    CUSTOM_MACRO(id, &kp LS(I)  USHFT  &kp APOS  &kp D  &kp SPACE)
    CUSTOM_MACRO(ill, &kp LS(I)  USHFT  &kp APOS  &kp L  &kp L  &kp SPACE)
    CUSTOM_MACRO(ive, &kp LS(I)  USHFT  &kp APOS  &kp V  &kp E  &kp SPACE)

    CUSTOM_MACRO(wed, &kp W  USHFT  &kp E  &kp APOS  &kp D  &kp SPACE)
    CUSTOM_MACRO(well, &kp W  USHFT  &kp E  &kp APOS  &kp L  &kp L  &kp SPACE)
    CUSTOM_MACRO(weve, &kp W  USHFT  &kp E  &kp APOS  &kp V  &kp E  &kp SPACE)
    CUSTOM_MACRO(were, &kp W  USHFT  &kp E  &kp APOS  &kp R  &kp E  &kp SPACE)

    CUSTOM_MACRO(youd, &kp Y  USHFT  &kp O  &kp U  &kp APOS  &kp D  &kp SPACE)
    CUSTOM_MACRO(youll, &kp Y  USHFT  &kp O  &kp U  &kp APOS  &kp L  &kp L  &kp SPACE)
    CUSTOM_MACRO(youve, &kp Y  USHFT  &kp O  &kp U  &kp APOS  &kp V  &kp E  &kp SPACE)
    CUSTOM_MACRO(youre, &kp Y  USHFT  &kp O  &kp U  &kp APOS  &kp R  &kp E  &kp SPACE)

    CUSTOM_MACRO(they, &kp T  USHFT  &kp H  &kp E  &kp Y  &kp SPACE)
    CUSTOM_MACRO(their, &kp T  USHFT  &kp H  &kp E  &kp I  &kp R  &kp SPACE)
    CUSTOM_MACRO(theyd, &kp T  USHFT  &kp H  &kp E  &kp Y  &kp APOS  &kp D  &kp SPACE)
    CUSTOM_MACRO(theyll, &kp T  USHFT  &kp H  &kp E  &kp Y  &kp APOS  &kp L  &kp L  &kp SPACE)
    CUSTOM_MACRO(theyve, &kp T  USHFT  &kp H  &kp E  &kp Y  &kp APOS  &kp V  &kp E  &kp SPACE)
    CUSTOM_MACRO(theyre, &kp T  USHFT  &kp H  &kp E  &kp Y  &kp APOS  &kp R  &kp E  &kp SPACE)

    // Locations
    CUSTOM_MACRO(there, &kp T  USHFT  &kp H  &kp E  &kp R  &kp E  &kp SPACE)
    CUSTOM_MACRO(where, &kp W  USHFT  &kp H  &kp E  &kp R  &kp E  &kp SPACE)
    CUSTOM_MACRO(here, &kp H  USHFT  &kp E  &kp R  &kp E  &kp SPACE)
};
