#define USHFT &macro_release &kp LSHFT &kp RSHFT &macro_tap
#define CUSTOM_MACRO(NAME, BINDING) \
m_##NAME: m_##NAME { \
    compatible = "zmk,behavior-macro"; \
    label = "m_##NAME"; \
    #binding-cells = <0>; \
    wait-ms = <10>; \
    tap-ms = <10>; \
    bindings = <BINDING>; \
};

macros {
  CUSTOM_MACRO(qu, &kp Q  USHFT  &kp U)
  CUSTOM_MACRO(par, &kp LPAR  &kp RPAR  &kp LEFT)
  CUSTOM_MACRO(bkt, &kp LBKT  &kp RBKT  &kp LEFT)
  CUSTOM_MACRO(brc, &kp LBRC  &kp RBRC  USHFT  &kp LEFT)
  CUSTOM_MACRO(lt, &kp LT  &kp GT  USHFT  &kp LEFT)
};

#define LINGER(NAME, HOLD, TAP) \
NAME: NAME { \
    compatible = "zmk,behavior-hold-tap"; \
    label = "NAME"; \
    #binding-cells = <2>; \
    tapping-term-ms = <175>; \
    quick-tap-ms = <125>; \
    flavor = "tap-preferred"; \
    bindings = <HOLD>, <TAP>; \
    hold-trigger-key-positions = <>; \
};
#define MACRO_MORPH(NAME, UNMOD, MOD, MODS) \
mm_##NAME: mm_##NAME { \
    compatible = "zmk,behavior-mod-morph"; \
    label = "mm_##NAME"; \
    #binding-cells = <0>; \
    bindings = <UNMOD>, <MOD>; \
    mods = <(MODS)>; \
};
#define L_QU &qu Q &m_qu
#define L_LPAR &par &m_par LPAR
#define L_LBKT &bkt &m_bkt LBKT
#define L_LBRC &brc &m_brc LBRC
#define L_LT &less &m_lt LT

behaviour {
  LINGER(qu, &kp, &m_qu)
  LINGER(par, &m_par, &kp)
  LINGER(bkt, &m_bkt, &kp)
  LINGER(brc, &m_brc, &kp)
  LINGER(less, &m_lt, &kp)

  MACRO_MORPH(lbkt, L_LBKT, L_LBRC, MOD_LSFT|MOD_RSFT)
  MACRO_MORPH(comma, &kp COMMA, L_LT, MOD_LSFT|MOD_RSFT)
  MACRO_MORPH(dot, &kp DOT, &less &m_lt GT, MOD_LSFT|MOD_RSFT)
};
